* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color:#333;
    line-height: 1.6;
    padding: 20px;
}

/* Header */
header {
    background-color: #ff6347;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}
  
nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover  {
    text-decoration: underline;
}

/* Sections */
section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

section h2 {
    color: #ff6347;
    margin-bottom: 10px;
}

section p {
    font-size: 1.2em;
}

.menu-item {
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff5f5;
}




.menu-item p {
    font-size: 1.1em;
}

/* Button */
button {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
}

button:hover {
    background-color: #ff4500;
}

/* footer*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}






